<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<TibiaMvc.Models.CharacterViewModel>
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->
@{
    ViewBag.Title = "Characters";
}<!--Título da página para o navegador-->
<h2>List Characters</h2>
@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MessageError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MenssageError"]</div>
}
<!--Título da página-->
<p>
  <!--Links apontando para views na mesma pasta-->
    @Html.ActionLink("Create new character", "Create")
</p>
<table class="table">
  <tr>
    <!--Títulos das colunas da tabela-->
    <th>@Html.DisplayNameFor(model => model.Id)</th>
    <th>@Html.DisplayNameFor(model => model.Name)</th>
    <th>@Html.DisplayNameFor(model => model.Gender)</th>
    <th>@Html.DisplayNameFor(model => model.Vocation)</th>
    <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
    <th></th>
  </tr>
  <!--Looping para escrever os dados na tabela-->
   @foreach (var model in Model){
    <tr>
      <td>@Html.DisplayFor(modelItem => model.Id)</td>
      <td>@Html.DisplayFor(modelItem => model.Name)</td>
      <td>@Html.DisplayFor(modelItem => model.Gender)</td>
      <td>@Html.DisplayFor(modelItem => model.Vocation)</td>
      <td>@Html.DisplayFor(modelItem => model.CreationDate)</td>
      <td>
        @Html.ActionLink("Details", "Details", new { id = model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = model.Id })
      </td>
    </tr>
   }
</table>


